minecraft
element.style {
    position: relative;
    top: 50px;
}
body {
    margin: auto;
    text-align: center;
    width: 600px;
}
.v{
    float: left;
    margin: 20px;
}
.b{
    position: relative;
    top: 20px;
    margin-top: 20%;
}
.m{
    position: relative;
    margin: 200px;
}
.t{
    position: relative;
    float: left;
}
.c{
    position: relative;
    bottom: 20px;
}
.b{
float: left;
}